certifi==2026.4.22
charset-normalizer==3.4.7
click==8.3.2
colorama==0.4.6
idna==3.11
joblib==1.5.3
nltk==3.9.4
python-dotenv==1.2.2
pytz==2026.1.post1
requests==2.33.0
regex==2026.4.4
textblob==0.20.0
tqdm==4.67.3
urllib3==2.6.3
