certifi==2024.8.30
charset-normalizer==3.4.0
click==8.1.7
colorama==0.4.6
idna==3.10
joblib==1.4.2
nltk==3.9.2
python-dotenv==1.0.1
pytz==2024.2
regex==2024.11.6
requests==2.32.4
textblob==0.18.0.post0
tqdm==4.67.1
urllib3==2.2.3
