certifi==2026.5.20
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
idna==3.17
joblib==1.5.3
nltk==3.9.4
python-dotenv==1.2.2
pytz==2026.2
requests==2.34.2
regex==2026.5.9
textblob==0.20.0
tqdm==4.67.3
urllib3==2.7.0
